<!DOCTYPE html>
<html>
<head>
  <title>Netclips</title>
  <%= favicon_link_tag 'favicon.png' %>
  <link href="/assets/favicon.png" rel="shortcut icon" type="image/x-icon" />
  <meta name="theme-color" content="#ffffff">  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:200,400,700" type="text/css">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
